<h1>New Person</h1>
<% form_for(@person) do |f| %>
    <p>
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.submit 'Create' %>
    </p>
<% end %>
<%= render 'form' %>


<%= link_to 'Back', people_path %>
